.table-of-contents-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  margin-top: 20px;
  font-size: 24px;
  border: none;
  padding: 8px;
}

.calendar-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 10px;
  justify-content: center;
  align-items: center;
}

.month-box {
  display: grid;
  grid-template-rows: auto;
  justify-content: center;
  align-items: center;
}

.box-title {
  font-size: 18px;
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 30px;
}

.day-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.day-links {
  font-size: 30px;
  margin-bottom: 20px;
}
